/*.root {
    -fx-background-color: #1d3c45;
}

.title-label {
    -fx-text-fill: #d260fa;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.list-view {
    -fx-background-color:  #d260fa;
    -fx-text-fill:  #d260fa;
}

.main-button {
    -fx-background-color: #d260fa;
    -fx-text-fill: #fff1e1;
    -fx-font-size: 16px;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-margin: 10px;
}*/
